<launch>

  <node pkg="rviz_cloud_annotation" type="rviz_cloud_annotation_node" name="rviz_cloud_annotation_node" output="screen">
    <param name="update_topic" type="string" value="/point_cloud" />
    <param name="cloud_filename" type="string" value="$(find rviz_cloud_annotation)/data/example.pcd" />

    <param name="annotation_read_filename" type="string" value="$(find rviz_cloud_annotation)/data/example.ann" />
    <param name="annotation_write_filename" type="string" value="$(find rviz_cloud_annotation)/data/example.ann" />
    <param name="annotation_cloud" type="string" value="$(find rviz_cloud_annotation)/data/example_annotated.pcd" />
    <param name="label_names_filename" type="string" value="$(find rviz_cloud_annotation)/data/example.txt" />

    <param name="label_size" type="double" value="0.002" />
    <param name="neigh_search_type" type="int" value="2" />
    <param name="neigh_search_params" type="string" value="10" />

    <param name="normal_importance" type="double" value="0.5" />
    <param name="color_importance" type="double" value="1.0" />
    <param name="position_importance" type="double" value="0.1" />

    <param name="show_zero_weight_control_points" type="bool" value="false" />
  </node>

  <node pkg="rviz" type="rviz" name="annotation_rviz" output="screen" args="-d $(find rviz_cloud_annotation)/rviz/annotation.rviz" required="true" />

</launch>
